<div class="flex items-center justify-between p-4">
    <h2>
    <span class="text-4xl font-bold text-gray-900 uppercase">Reporte de Asignaciones Activas</span>
    </h2>
</div>
<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table
    class="w-full border-collapse bg-white text-center text-sm text-gray-500"
  >
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900 uppercase">Nombre estudiante</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900 uppercase">nombre ruta</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900 uppercase">fecha asignacion</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900 uppercase">estado</th>
        
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
      <tr class="hover:bg-gray-50">
        <td class=" gap-3 px-6 py-4 font-normal text-gray-900">
            <div class="text-gray-700">Steven Jobs</div>
        </td>
        <td class="px-6 py-4">
            Active
        </td>
        <td class="px-6 py-4">
            Product Designer
        </td>
        <td class="px-6 py-4">
              Design
        </td>
      </tr>
    </tbody>
  </table>
</div>

